<% for hotel in @hotels %>
  <div class="row">
    <div class="well">
      <div class="col-sm-2">
        Hotel Name: 
      </div>
      <div class="col-sm-4">
        <%= hotel.name %>
      </div>
    </div>
  </div>
<% end %>